<section class="search-results" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-card *ngFor="let mentor of mentors" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ mentor.fullName }}</mat-card-title>
          <mat-card-subtitle>{{ mentor.title }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="5px" *ngIf="mentor.expertiseAreas.length > 0">
                <ul class="tags">
                    <li><span class="tag isPrimary" color="primary"> {{ mentor.expertiseAreas[0].categoryName }} </span></li>
                    <li *ngFor="let item of mentor.expertiseAreas"><span class="tag">{{ item.subcategoryName }}</span></li>
                </ul>
            </div>
            <p>{{ mentor.description.length <= 350 ? mentor.description : mentor.description.substring(0, 350).concat('...') }}</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <button mat-button mat-raised-button disabled>Demander du mentoring</button>
            <button mat-raised-button color="primary" [routerLink]="['/mentors/'+mentor.profileId]" routerLinkActive="router-link-active">Voire le profile</button>
        </mat-card-actions>
    </mat-card>
</section>
