<section class="search-results" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Rachid BAAZIZ</mat-card-title>
          <mat-card-subtitle>Software engineer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="5px">
                <ul class="tags">
                    <li><span class="tag" color="primary">HTML</span></li>
                    <li><span class="tag">CSS</span></li>
                    <li><span class="tag">JavaScript</span></li>
                </ul>
            </div>
            <p>
                Hello, I’m Suzanne. I find myself refining my bio, adapting to my present reality, now that we’re living through this pandemic together. While these times breed uncertainty, I am continuously learning and immersing myself in design. I have experience in User Experience Design. I designed for various clients from startups to fortune 500s. I was also a mentor at Big Brothers Big Sisters of NYC, AIGA, and Minds Matter.
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
            <button mat-button mat-raised-button disabled>Demander du mentoring</button>
            <button mat-raised-button color="accent">Voire le profile</button>
        </mat-card-actions>
    </mat-card>
</section>
