<app-wizard-step [title]="title" (nextStepClicked)="goToNextStep()">
    <form [formGroup]="personalForm">
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-radio-group formControlName="gender" aria-label="Votre civilite" class="full-width" [ngClass]="{ 'is-invalid': submitted && formControls.gender.errors }" required>
                    <mat-radio-button value="male">Monsieur</mat-radio-button>
                    <mat-radio-button fxFlexOffset="5" value="female">Madamme</mat-radio-button>
                    <mat-error *ngIf="submitted && formControls.gender.errors">
                        <mat-error *ngIf="formControls.gender.errors.required">Ce champ est obligatoir</mat-error>
                    </mat-error>
                </mat-radio-group>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Prenom</mat-label>
                    <input matInput type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
                    <mat-error *ngIf="submitted && formControls.firstName.errors">
                        <mat-error *ngIf="formControls.firstName.errors.required">ce champ est obligatoir</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }">
                    <mat-error *ngIf="submitted && formControls.lastName.errors">
                        <mat-error *ngIf="formControls.lastName.errors.required">Ce champ est obligatoire</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
                    <mat-error *ngIf="submitted && formControls.email.errors">
                        <mat-error *ngIf="formControls.email.errors.required">Ce champ est obligatoire</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Telephone</mat-label>
                    <input matInput type="text" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && formControls.phoneNumber.errors }">
                    <mat-error *ngIf="submitted && formControls.phoneNumber.errors">
                        <mat-error *ngIf="formControls.phoneNumber.errors.required">Ce champ est obligatoir</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" formControlName="city" [ngClass]="{ 'is-invalid': submitted && formControls.city.errors }">
                    <mat-error *ngIf="submitted && formControls.city.errors">
                        <mat-error *ngIf="formControls.city.errors.required">Ce champ est obligatoir</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</app-wizard-step>
