<div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card" fxFlex.xs="100" fxFlex.gt-xs="80" fxFlex.gt-sm="60">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title fxLayout="row" fxLayoutAlign="center"><h1>{{ mentor.fullName }}</h1></mat-card-title>
                <mat-card-subtitle fxLayout="row" fxLayoutAlign="center"><h2 style="text-align: center;">{{ mentor.title }}</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutGap="5px" *ngIf="mentor.expertiseAreas.length > 0">
                    <ul class="tags">
                        <li><span class="tag isPrimary" color="primary"> {{ mentor.expertiseAreas[0].categoryName }} </span></li>
                        <li *ngFor="let item of mentor.expertiseAreas"><span class="tag">{{ item.subcategoryName }}</span></li>
                    </ul>
                </div>
                <p style="text-align: center; margin-top: 15px;">{{ mentor.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card" fxFlex.xs="100" fxFlex.gt-xs="80" fxFlex.gt-sm="60" fxLayout="column">
            <h2 fxLayout="row" fxLayoutAlign="center start">Experiences</h2>
            <div fxLayout="row" *ngFor="let experience of mentor.experiences">
                <mat-card-header fxFlex="40">
                    <mat-card-title>{{ experience.role }}</mat-card-title>
                    <mat-card-subtitle>{{ experience.companyName }}  ({{ experience.startYear }} - {{ experience.endYear == -1 ? "En cours" :  experience.endYear }})</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxFlex="60">
                    <p>{{ experience.description }}</p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card" fxFlex.xs="100" fxFlex.gt-xs="80" fxFlex.gt-sm="60" fxLayout="column">
            <h2 fxLayout="row" fxLayoutAlign="center start">Education</h2>
            <div fxLayout="row" *ngFor="let education of mentor.educations">
                <mat-card-header fxFlex="40">
                    <mat-card-title>{{ education.degree }}</mat-card-title>
                    <mat-card-subtitle>{{ education.school }}  ({{ education.startYear }} - {{ education.endYear == -1 ? "En cours" :  education.endYear}})</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content fxFlex="60">
                    <p>{{ education.description }}</p>
                </mat-card-content> 
            </div>
        </mat-card>
    </div>
</div>
