<mat-horizontal-stepper [linear]="true" #stepper >
    <mat-step [stepControl]="personalInfosFormGroup">
        <form [formGroup]="personalInfosFormGroup" fxLayout="column">
            <ng-template matStepLabel>Informations personelles</ng-template>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="50">
                    <input
                        type="text"
                        matInput
                        placeholder="Prenom"
                        formControlName="fName">
                    <mat-error *ngIf="personalFormControls.fName.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                    <input 
                        type="text"
                        matInput
                        placeholder="Nom"
                        formControlName="lName">
                    <mat-error *ngIf="personalFormControls.lName.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="50">
                    <input
                        type="text"
                        matInput
                        placeholder="Numero de telephone"
                        formControlName="phoneNumber">
                    <mat-error *ngIf="personalFormControls.phoneNumber.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Ville</mat-label>
                    <mat-select formControlName="city">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="column">
                <mat-form-field appearance="outline" fxFlex="100">
                    <input 
                        type="text"
                        matInput
                        placeholder="Titre"
                        formControlName="title">
                    <mat-error *ngIf="personalFormControls.title.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100">
                    <textarea 
                        type="text"
                        matInput
                        placeholder="Presentation"
                        formControlName="description">
                    </textarea>
                </mat-form-field>
            </div>
            
            <div fxLayoutAlign="end">
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="educationInfosFormGroup">
        <form [formGroup]="educationInfosFormGroup">
            <ng-template matStepLabel>Education</ng-template>
            <section>
                <h3>Entrer les information sur votre dernier (ou courant) etudes</h3>
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field fxFlex="50" appearance="outline">
                        <input 
                            type="text"
                            matInput
                            placeholder="Nom de l'ecole"
                            formControlName="school">
                        <mat-error *ngIf="educationFormControls.school.errors?.required">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Diplome</mat-label>
                        <mat-select formControlName="degree">
                          <mat-option value="option">Option</mat-option>
                          <mat-option value="option">Option</mat-option>
                          <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-error *ngIf="educationFormControls.degree.errors?.required">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Annee de debut</mat-label>
                        <mat-select formControlName="startYear">
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-error *ngIf="educationFormControls.startYear.errors?.required">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Annee de fin</mat-label>
                        <mat-select formControlName="endYear">
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-error *ngIf="educationFormControls.endYear.errors?.required">Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <textarea 
                            type="text"
                            matInput
                            placeholder="Description"
                            formControlName="description">
                        </textarea>
                    </mat-form-field>
                </div>
            </section>
            <div fxLayoutAlign="end">
                <button mat-button matStepperPrevious >Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="professionalInfosFormGroup">
        <form [formGroup]="professionalInfosFormGroup">
            <ng-template matStepLabel>Travail</ng-template>
            <section>
                <h3>Entrer les informations sur votre dernier (ou acctuel) travaille</h3>
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input 
                            type="text"
                            matInput
                            placeholder="Nom de l'entreprise"
                            formControlName="companyName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <input 
                            type="text"
                            matInput
                            placeholder="Post ocupe dans l'entreprise"
                            formControlName="role">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Annee de debut</mat-label>
                        <mat-select formControlName="startYear">
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Annee de fin</mat-label>
                        <mat-select formControlName="endYear">
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-form-field appearance="outline">
                        <textarea 
                            type="text"
                            matInput
                            placeholder="Description"
                            formControlName="description">
                        </textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input 
                            type="text"
                            matInput
                            placeholder="Linkedin URL"
                            formControlName="linkedinUrl">
                    </mat-form-field>
                </div>
            </section>
            <div fxLayoutAlign="end">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="expertiseInfosFormGroup">
        <form [formGroup]="expertiseInfosFormGroup">
            <ng-template matStepLabel>Domaine d'expertise</ng-template>
            <div fxLayout="column" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" #c (selectionChange)="changeCategory(c.value)">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="experienceFormControls.category.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Skills</mat-label>
                    <mat-select formControlName="subcategories" multiple>
                      <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">{{subcategory.subcategoryName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="experienceFormControls.subcategories.errors?.required">Ce champ est obligatoire</mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button  (click)="onSubmitForm()">Enregistrer</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>