<app-wizard-step [title]="title" (previousStepClicked)="goToPreviousStep()">
    <form [formGroup]="profileForm">
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" formControlName="title" [ngClass]="{ 'is-invalid': submitted && formControls.title.errors }">
                    <mat-error *ngIf="submitted && formControls.title.errors">
                        <mat-error *ngIf="formControls.title.errors.required">Ce champ est obligatoir</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlexOffset="10" fxFlex="70">
                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</app-wizard-step>