<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lmentor</title>
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/home.component.css" rel="stylesheet">
	<link rel="icon" href="../../../assets/img/Rachid.png"/>
	
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Find a Mentor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Become a Mentor</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"><span class="item-text">Terms Conditions</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item"><span class="item-text">Privacy Policy</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h1><span class="turquoise">Lmentor</span> </br>This is for you</h1>
                            <p class="p-large">Find a mentor, and register for a course</p>
                            <a class="btn-solid-lg page-scroll">DISCOVER</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="../../../assets/img/home_page_img.svg" alt="alternative">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header> 
    <div class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Add a Course</h2>
                        <p>Use our staff and our expertise to design and add your courses. Lmentor team is eager to advise you on the best opportunities that you should look into</p>
                        <a class="btn-solid-reg popup-with-move-anim">Become a Mentor</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="../../../assets/img/details-1-office-worker.svg" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About The Team</h2>
                    <p class="p-heading p-large">Meat our team of specialized marketers and business developers which will help you research new courses</p>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../../assets/img/Rachid.png" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Rachid Baaziz</strong></p>
                        <p class="job-title">Software Engineer</p>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../../assets/img/Rachid.png" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Rachid Baaziz</strong></p>
                        <p class="job-title">Software Engineer</p>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../../assets/img/Rachid.png" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Rachid Baaziz</strong></p>
                        <p class="job-title">Software Engineer</p>
                    </div>
                    <div class="team-member">
                        <div class="image-wrapper">
                            <img class="img-fluid" src="../../../assets/img/Rachid.png" alt="alternative">
                        </div>
                        <p class="p-large"><strong>Rachid Baaziz</strong></p>
                        <p class="job-title">Software Engineer</p>
                    </div> 

                </div> 
            </div> 
        </div> 
    </div> 
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Contact Information</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address">Don't hesitate to give us a call or send us a contact form message</li>
                        <li><i class="fas fa-map-marker-alt"></i>Casablanca, Morocco</li>
                        <li><i class="fas fa-phone"></i><a class="turquoise">+XXXXXXXXXXXXX</a></li>
                        <li><i class="fas fa-envelope"></i><a class="turquoise">Contact@Lmentor.com</a></li>
                    </ul>
                </div>
            </div>
                <div class="col-lg-6">
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="cterms" value="Agreed-to-Terms" required>I have read and agree with Lmenotr stated <a>Privacy Policy</a> and <a>Terms Conditions</a> 
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>